﻿@model DataAccessLayer.Models.Company

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var errorMessage = TempData["ErrorMessage"] ?? String.Empty;
    SelectList currencies = new SelectList(ViewBag.Currencies);
}

<script type="text/javascript">
    var errorMessage = '@errorMessage';

    if (errorMessage) {
        alert(errorMessage);
    }
</script>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency"
                        asp-items="@currencies">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>
