﻿@model RegularUserForDetailsDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var errorMessage = TempData["ErrorMessage"];
}


<script type="text/javascript">
    var errorMessage = '@errorMessage';

    if (errorMessage) {
        alert(errorMessage);
    }

</script>

    <h2>Details about user</h2>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateCreated.Date)
            </dd>
            <dt class="col-sm-2">
                Accounts
            </dt>
            <dd class="col-sm-10">
                @if (Model.Accounts.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accounts[0].IBAN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accounts[0].Currency)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Accounts[0].Sum)
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Accounts)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IBAN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Currency)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sum)
                                    </td>
                                    <td>
                                        @if (item.Sum < 0)
                                        {
                                        <a asp-action="NotifyViaEmailOfNegativeAccountAmount" 
                                           asp-route-userId="@item.User.Id"
                                           asp-route-accountId="@item.Id">Notify of negative amount</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>This user does not have any accounts yet.</p>
                }
            </dd>
            <dt class="col-sm-2">
                Bills
            </dt>
            <dd class="col-sm-10">
                @if (Model.Bills.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Company
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bills[0].Amount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bills[0].DateCreated)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Bills[0].IsActive)
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Bills)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreated.Date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>This user doesn't have any bills yet.</p>
                }
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index">Back to Index</a>
    </div>
