﻿@model UserForLoginDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <div>
            <a asp-action="ViewAllUsers">View all users</a>
        </div>
        <div>
            <a asp-action="ViewAllCompanies">View all companies</a>
        </div>
        <div>
            <a asp-action="AddCompany">Add new company</a>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>


