﻿@model List<UserForOverviewDTO>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Email)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @if (item.Type == "Regular user")
            {
                <td>
                    <a asp-action="DetailedRegularUsers" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a asp-action="AssignRandomBills" asp-route-id="@item.Id">Assign random bills</a>
                </td>
            }
            <td>
                @if (item.Type == "Admin")
                {
                    <p>Details not available for admins</p>
                }
            </td>
            </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Index</a>
</div>