﻿@model System.Collections.Generic.IEnumerable<DataAccessLayer.Models.Company>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Index</a>
</div>