﻿@model List<UserForOverviewDTO>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<h1>Index</h1>

<p>


<table class="table">
    <thead>
    <tr>
        @* <th> *@
        @*     FirstName *@
        @*     $1$ @Html.DisplayNameFor(model => model[0].FirstName) #1# *@
        @* </th> *@
        @* <th> *@
        @*     LastName *@
        @*     $1$ @Html.DisplayNameFor(model => model[0].LastName) #1# *@
        @* </th> *@
        <th>
            Username
            @* @Html.DisplayNameFor(model => model[0].Username) *@
        </th>
        <th>
            Email
            @* @Html.DisplayNameFor(model => model[0].Email) *@
        </th>
        @* <th> *@
        @*     City *@
        @*     $1$ @Html.DisplayNameFor(model => model[0].City) #1# *@
        @* </th> *@
        @* <th></th> *@
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.FirstName) *@
            @* </td> *@
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.LastName) *@
            @* </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @* <td> *@
            @*     @Html.DisplayFor(modelItem => item.City) *@
            @* </td> *@
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
    }
    </tbody>
</table>