﻿@model AccountForDetailsDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Details about account</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @if (Model.Type == "spending")
            {
                <p>Interest</p>
            }
            @if (Model.Type == "saving")
            {
                <p>Commission</p>
            }
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
        <dt class="col-sm-2">
    </dl>
</div>

<div>
    <a asp-action="Details">Back to Accounts</a>
</div>

