﻿@model DepositViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var errorMessage = TempData["ErrorMessage"];
}

<script type="text/javascript">
    var errorMessage = '@errorMessage';

    if (errorMessage) {
        alert(errorMessage);
    }

</script>


<h2>Deposit money</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DepositSpending">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Deposit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>
