﻿@model DateViewModel
@{
    ViewData["Title"] = "DisplayTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var errorMessage = TempData["ErrorMessage"];
}


<script type="text/javascript">
    var errorMessage = '@errorMessage';

    if (errorMessage) {
        alert(errorMessage);
    }

</script>


<h1>DisplayTransactions</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplayTransactions">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Date from</label>
                <input type="date" name="dateFrom" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Date to</label>
                <input type="date" name="dateTo" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Select" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="col-sm-10">
    
        @if (Model != null)
            @if (Model.Transactions != null)
                @if (Model.Transactions.Count > 0)
                {
    <form asp-action="DownloadTransactions">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions[0].User.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions[0].Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions[0].Account.IBAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transactions[0].Account.Currency)
                    </th>
                    <th>
                        Company name
                    </th>
                    <th>
                        Bill currency
                    </th>
                    <th>
                        Export?
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.IBAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bill.Company.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bill.Company.Currency)
                        </td>
                        <td>
                            <input name="transactionNames" type="checkbox" value="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type">
                <option value="pdf">PDF</option>
                <option value="csv">CSV</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Download" class="btn btn-primary" />
        </div>
    </form>
        }
    
        
<div>
      <a asp-action="Index">Back to Index</a>
</div>