﻿@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4">
        <div>
            <a asp-action="Details">View details about user</a>
        </div>
        <div>
            <a asp-action="CreateAccount">Create new account</a>
        </div>
        <div>
            <a asp-action="DisplayTransactions">Display transactions</a>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>