﻿@model AccountForPaymentDTO

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var errorMessage = TempData["ErrorMessage"];
}

<script type="text/javascript">
    var errorMessage = '@errorMessage';

    if (errorMessage) {
        alert(errorMessage);
    }

</script>



<div class="row">
    <div class="col-md-4">
        <form asp-action="PayBill">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label">Account</label>
                <select asp-for="Account">
                     @foreach (DataAccessLayer.Models.Account account in ViewBag.Accounts)
                     {
                        <option value="@account.Id">@account.Type, @account.Currency, @account.Sum</option>
                     }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>
